
name: Build Multiple Docker Images

on:
  workflow_dispatch: # Manual trigger
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker
        uses: docker/setup-buildx-action@v2

      - name: Build all Docker images
        run: |
          docker build -t application-service:latest ./application-service
          docker build -t order-service:latest ./order-service
          docker build -t patient-service:latest ./patient-service
